<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>sysdoc</title>
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>

    <svg version="1.1" id="placeholder" viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet">
     <path fill="#095f91" d="M31.6,3.5C5.9,13.6-6.6,42.7,3.5,68.4c10.1,25.7,39.2,38.3,64.9,28.1l-3.1-7.9c-21.3,8.4-45.4-2-53.8-23.3
      c-8.4-21.3,2-45.4,23.3-53.8L31.6,3.5z">
          <animateTransform 
             attributeName="transform" 
             attributeType="XML" 
             type="rotate"
             dur="2s" 
             from="0 50 50"
             to="360 50 50" 
             repeatCount="indefinite" />
      </path>
     <path fill="#095f91" d="M42.3,39.6c5.7-4.3,13.9-3.1,18.1,2.7c4.3,5.7,3.1,13.9-2.7,18.1l4.1,5.5c8.8-6.5,10.6-19,4.1-27.7
      c-6.5-8.8-19-10.6-27.7-4.1L42.3,39.6z">
          <animateTransform 
             attributeName="transform" 
             attributeType="XML" 
             type="rotate"
             dur="1s" 
             from="0 50 50"
             to="-360 50 50" 
             repeatCount="indefinite" />
      </path>
     <path fill="#095f91" d="M82,35.7C74.1,18,53.4,10.1,35.7,18S10.1,46.6,18,64.3l7.6-3.4c-6-13.5,0-29.3,13.5-35.3s29.3,0,35.3,13.5
      L82,35.7z">
          <animateTransform 
             attributeName="transform" 
             attributeType="XML" 
             type="rotate"
             dur="2s" 
             from="0 50 50"
             to="360 50 50" 
             repeatCount="indefinite" />
      </path>
    </svg>

    <svg id="svg-scrim" class="svg svg-scrim">  
      <circle id="pivot" class="pivot" cx="0" cy="0" r="6" />
    </svg>

    <nav class="float-container">
      <div class="logo float-child">
        sysdoc
      </div>
      <div class="controls float-child">
        <button id="reset">
          Reset Zoom
        </button>
      </div>


      <div class="controls float-child">
        <form>
          <select name="branches" id="branches">
            <option value="">default</option
          </select>
        <form>
      </div>

      </div>
      <div class="shortcuts float-child">
        <a href="/index.html">Overview</a>
      </div>
    </nav>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/utils/Draggable.min.js"></script>
    <script type="text/javascript" src="static/main.js"></script>
    <script type="text/javascript" src="static/hover.js"></script>
    <script>
      // load svg 
      var url = window.location.origin + "/svg/" + window.location.search;
      let xhr = new XMLHttpRequest();
      xhr.open('GET', url);
      xhr.send();
      xhr.onload = function() {
        if (xhr.status != 200) {
          console.log(`Error ${xhr.status}: ${xhr.response}`);
          alert(`Error ${xhr.status}: ${xhr.response}`);
        } else {
          document.getElementById('placeholder').outerHTML = xhr.response;
          initSVGMap();
          initHover();
        }
      };

      xhr.onerror = function() {
        console.log("Request failed");
        alert("Request failed");
      };

      // list branches
      var branches = document.getElementById('branches');
      async function loadBranches() {
        const response = await fetch(window.location.origin + "/branches.json");
        const branchlist = await response.json();
        for (var i = 0; i < branchlist.length; i++) { 
          let newOption = new Option(branchlist[i],branchlist[i]);
          branches.add(newOption, undefined)
        }
        branches.addEventListener("change", function(){
          console.log(branches.value);
          var params = new URLSearchParams(window.location.search)
          params.set("branch", branches.value)
          window.location.href =  '//' + location.host + location.pathname + "?" + params.toString();
        });
      };

      loadBranches();

      // switch branches

    </script>
  </body>
</html>
